<div class="col-lg-12" ui-view>
    <div class="container-fluid" >
         <div class="row">
            <div class="col-sm-6 col-md-4 text-left">
                <div class="thumbnail">

                    <img src="assets/img/brand-banner2.jpg" height="300" />

                    <div class="caption">
                        <h3>Your Brands</h3>
                        <p>Lorem ipsum sta minchia</p>
                        <button ng-click="brands()" type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Go
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 text-left">
                <div class="thumbnail">

                    <img src="assets/img/billing-banner2.jpg" height="300" />

                    <div class="caption">
                        <h3>Your Billings</h3>
                        <p>Lorem ipsum sta minchia</p>
                        <button ng-click="billing()" type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Go
                        </button>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-md-4 text-left">
                 <div class="thumbnail">

                     <img src="assets/img/profile-banner2.jpg" height="300" />

                     <div class="caption">
                         <h3>Your Profile</h3>
                         <p>Lorem ipsum sta minchia</p>
                         <button ng-click="profile()" type="button" class="btn btn-default btn-lg">
                             <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Go
                         </button>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>